body {
    background-color: rgb(58, 58, 58);
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

header {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        background-color: #fff;
        color: black;
        padding: 8px;
        font-size: 12px;
        margin: 2px;
        text-align: center;
        border-radius: 20px;
        border: solid #3392ff 6px;
    }
}

.nav-bar a:link, a:visited {
    color: black;
    background-color: #3392ff;
} 

.nav-bar a:hover, a:active {
    background-color:#fff;
}

main {
    margin: 20px;
    color: #fff;
}

main img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    height: auto;
    max-width: 90%;
}

footer {
    display: flex;
    position: sticky;
    top: 100%;
    justify-content: center;
    align-items: center;
    p {
        padding: 0;
        margin: 20px;
        color: #fff;
    }
}

.social-links img {
    height: auto;
    max-width: 60px;
    margin: 5px auto;
}

@media only screen and (min-width: 600px) {
    .nav-bar {

    }
}